:root {
  --poppins: 'Poppins', sans-serif;
  --inter: 'Inter', sans-serif;

  --gray-1: #3a3a3a;
  --gray-2: #0a0826;
  --gray-3: #6c6c6c;
  --gray-4: #787885;
  --white: #ffffff;
  --black: #000000;
  --rose: #e02c6d;
}
