@use '../abstract/' as *;

.hero {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;

  @include respond(bp-9) {
    flex-direction: row;
    gap: 11.3rem;
    padding: 2rem 7rem;
  }

  @include respond(bp-12) {
    padding: 0;
    margin-bottom: 7rem;
  }

  &__img-box {
    background-image: url('../../../images/Circle\ design.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @include respond(bp-9) {
      order: 1;
      background-size: contain;
      flex: 1;
      min-width: 44rem;
      min-height: 44rem;
    }
  }

  &__img {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;

    @include respond(bp-9) {
      width: 80%;
    }
  }

  &__content {
    text-align: center;
    // padding: 0 2rem;
    @include respond(bp-9) {
      text-align: start;
      flex: 1;
    }
    h1 {
      font-size: 2.8rem;
      margin-bottom: 1.5rem;

      @include respond(bp-9) {
        font-size: 5.2rem;
      }
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
  }
}
